@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .navgradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 21%,
      rgba(147, 145, 158, 1) 41%,
      rgba(138, 136, 150, 1) 55%,
      rgba(62, 58, 80, 1) 95%
    );
  }
  
  .footerbg {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 1%, rgba(147,152,158,1) 18%, rgba(97,104,113,1) 32%, rgba(31,41,55,0.8505996148459384) 58%);
  }